<router-outlet></router-outlet>
<app-topbar>
<mat-toolbar color="primary">
  <app-navbar>
    <span class="navbar-brand">Gestor del Alumnado (GEDA)</span>
    <button mat-button routerLink="/dashboard" routerLinkActive="active">Inscripciones</button>
    <button mat-button routerLink="/profile" routerLinkActive="active">Perfil</button>
    <button mat-button routerLink="/courses" routerLinkActive="active">Cursos</button>
  </app-navbar>
</mat-toolbar>
</app-topbar>

<app-sidebar>
  <div class="container mt-4">
    <h2 class="text-center mat-title">Bienvenidos al lugar ideal para potenciar tus habilidades en Programación</h2>
    <p class="mat-body-1 text-center">Ofrecemos una variedad de cursos para que puedas explorar y avanzar con más conocimientos en la búsqueda de un futuro mejor.</p>
    
    <mat-grid-list cols="3" rowHeight="350px" gutterSize="20px">
      <mat-grid-tile *ngFor="let curso of cursos" [style.background]="'#f3f4f6'">
        <mat-card>
          <img mat-card-image [src]="curso.imagen" [alt]="curso.titulo">
          <mat-card-title>{{ curso.titulo }}</mat-card-title>
          <mat-card-actions>
            <button mat-raised-button color="primary" (click)="inscribirse(curso.titulo)">Inscribirse</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <app-infobar>Información</app-infobar>
  </div>    
</app-sidebar>
